body{
    background-color: #121212;
    color: #fff;
    font-family: 'Segoe UI',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.clock-container{
    background: #1e1e1e;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 255,255, o.1);

}
#time{
    font-size: 4rem;
    margin-bottom: 10px;
}
#date{
    font-size: 1.5rem;
    color: #aaa;
}